/node_modules
/test-treeherder-proxy.json
/test-treeherder-proxy.yml
/stage-treeherder-proxy.json
/stage-treeherder-proxy.yml
/production-treeherder-proxy.json
/production-treeherder-proxy.yml
/build
/npm-debug.log
/test/test.json
/test/config.yml
